{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Vendas</h2>
    <a href="/vendas/nova/" class="btn btn-sm btn-dark"> Nova Venda</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Veículo</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for venda in vendas %}
        <tr>
            <td>{{ venda.veiculo }}</td>
            <td>{{ venda.cliente }}</td>
            <td>{{ venda.data|date:"d/m/Y" }}</td>
            <td>
                <a href="/vendas/detalhes/{{ venda.id }}/" class="btn btn-sm btn-dark">Detalhes</a>
                <a href="/vendas/editar/{{ venda.id }}/" class="btn btn-sm btn-dark">Editar</a>
                <a href="/vendas/deletar/{{ venda.id }}/" class="btn btn-sm btn-dark">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
