{% extends 'base.html' %}

{% block content %}
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg rounded">
                <div class="card-body">
                    <div class="card-header text-black">
                        <h2 class="mb-0 d-flex align-items-center fs-5">
                            <i class="fas fa-car me-2 fs-5"></i>
                            {{ titulo }}
                        </h2>
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Marca -->
                        <div class="mb-3">
                            <i class="fas fa-industry"></i>
                            <label for="{{ form.marca.id_for_label }}" class="form-label">Marca</label>
                            <input type="text" name="{{ form.marca.name }}" id="{{ form.marca.id_for_label }}"
                                   value="{{ form.marca.value|default_if_none:'' }}" class="form-control" required>
                            {% if form.marca.errors %}
                                <div class="text-danger small">{{ form.marca.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Modelo -->
                        <div class="mb-3">
                            <i class="fas fa-car-side"></i>
                            <label for="{{ form.modelo.id_for_label }}" class="form-label">Modelo</label>
                            <input type="text" name="{{ form.modelo.name }}" id="{{ form.modelo.id_for_label }}"
                                   value="{{ form.modelo.value|default_if_none:'' }}" class="form-control" required>
                            {% if form.modelo.errors %}
                                <div class="text-danger small">{{ form.modelo.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Ano -->
                        <div class="mb-3">
                            	<i class="fas fa-calendar-alt"></i>
                            <label for="ano" class="form-label">Ano</label>
                            <input type="text" name="{{ form.ano.name }}" id="ano"
                                   value="{{ form.ano.value|default_if_none:'' }}"
                                   class="form-control" data-yearpick required>
                            {% if form.ano.errors %}
                                <div class="text-danger small">{{ form.ano.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Preço -->
                        
                        <div class="mb-3">
                             <i class="fas fa-dollar-sign"></i>
                            <label for="{{ form.preco.id_for_label }}" class="form-label">Preço</label>
                            <input type="number" step="0.01" name="{{ form.preco.name }}" id="{{ form.preco.id_for_label }}"
                                   value="{{ form.preco.value|default_if_none:'' }}" class="form-control" required>
                            {% if form.preco.errors %}
                                <div class="text-danger small">{{ form.preco.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Quilometragem -->
                        <div class="mb-3">
                            	<i class="fas fa-tachometer-alt"></i>
                            <label for="{{ form.quilometragem.id_for_label }}" class="form-label">Quilometragem</label>
                            <input type="number" name="{{ form.quilometragem.name }}" id="{{ form.quilometragem.id_for_label }}"
                                   value="{{ form.quilometragem.value|default_if_none:'' }}" class="form-control" required>
                            {% if form.quilometragem.errors %}
                                <div class="text-danger small">{{ form.quilometragem.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Cor -->
                        <div class="mb-3">
                            <i class="fas fa-palette"></i>
                            <label for="{{ form.cor.id_for_label }}" class="form-label">Cor</label>
                            <input type="text" name="{{ form.cor.name }}" id="{{ form.cor.id_for_label }}"
                                   value="{{ form.cor.value|default_if_none:'' }}" class="form-control" required>
                            {% if form.cor.errors %}
                                <div class="text-danger small">{{ form.cor.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Disponível -->
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="{{ form.disponivel.name }}" id="{{ form.disponivel.id_for_label }}"
                                   class="form-check-input" {% if form.disponivel.value %}checked{% endif %}>
                            <label for="{{ form.disponivel.id_for_label }}" class="form-check-label">Disponível</label>
                            {% if form.disponivel.errors %}
                                <div class="text-danger small">{{ form.disponivel.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Botões -->
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-success w-50 me-2">
                                Salvar
                            </button>
                            <a href="/veiculos/" class="btn btn-secondary w-50">
                                Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("[data-yearpick]", {
            dateFormat: "Y",
            altInput: true,
            altFormat: "Y",
            maxDate: new Date().getFullYear().toString()
        });
    });
</script>
{% endblock %}
