{% extends 'base.html' %}
{% block title %}Detalhes do veículo{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-header bg-dark text-white">
        <h4>Detalhes de {{ veiculo.modelo }}</h4>
    </div>
    <div class="card-body">
        <p><strong>Marca:</strong> {{ veiculo.marca }}</p>
        <p><strong>Modelo:</strong> {{ veiculo.modelo }}</p>
        <p><strong>Ano:</strong> {{ veiculo.ano }}</p>
        <p><strong>Preço:</strong> R$ {{ veiculo.preco }}</p>
        <p><strong>Quilometragem:</strong> Km {{ veiculo.quilometragem }}</p>
        <p><strong>Status:</strong> {% if veiculo.disponivel %} Disponível {% else %} Vendido {% endif %}</p>

        <a href="{% url 'lista_veiculos' %}" class="btn btn-dark">Voltar</a>
    </div>
</div>
{% endblock %}
