{% extends 'base.html' %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Veículos</h2>
    <a href="/veiculos/novo/" class="btn btn-sm btn-dark"> Novo Veículo</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Modelo</th>
            <th>Preço</th>
            <th>Status</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for veiculo in veiculos %}
        <tr>
            <td>{{ veiculo.modelo }}</td>
            <td>R$ {{ veiculo.preco }}</td>
            <td>
                {% if veiculo.disponivel %}
                    <span class="badge bg-success">Disponível</span>
                {% else %}
                    <span class="badge bg-secondary">Vendido</span>
                {% endif %}
            </td>
            <td class="text-end">
                <div>
                    <a href="/veiculos/detalhes/{{ veiculo.id }}/" class="btn btn-sm btn-dark">Detalhes</a>
                    <a href="/veiculos/editar/{{ veiculo.id }}/" class="btn btn-sm btn-dark">Editar</a>
                    <a href="/veiculos/deletar/{{ veiculo.id }}/" class="btn btn-sm btn-dark" onclick="return confirm('Tem certeza que deseja excluir este veículo?')">Excluir</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}