{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Funcionários</h2>
    <a href="/funcionarios/novo/" class="btn btn-primary">Novo Funcionário</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.nome }}</td>
            <td class="text-end">
                <div>
                    <a href="{% url 'detalhes_funcionarios' funcionario.id %}" class="text-warning me-2">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'editar_funcionario' funcionario.id %}" class="text-primary me-3">
                        <i class="fas fa-edit"></i> 
                    </a>
                    <a href="{% url 'deletar_funcionario' funcionario.id %}" class="text-danger"
                        onclick="return confirm('Tem certeza que deseja excluir esta pessoa?')">
                     <i class="fas fa-trash"></i> 
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}