{% extends 'base.html' %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Funcionários</h2>
    <a href="/funcionarios/novo/" class="btn btn-dark">Novo Funcionário</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.nome }}</td>
            <td class="text-end">
                <div>
                    <a href="{% url 'detalhes_funcionarios' funcionario.id %}" class="btn btn-sm btn-dark">Detalhes</a>
                    <a href="{% url 'editar_funcionario' funcionario.id %}" class="btn btn-sm btn-dark">Editar</a>
                    <a href="{% url 'deletar_funcionario' funcionario.id %}" class="btn btn-sm btn-dark" onclick="return confirm('Tem certeza que deseja excluir este funcionário?')">Excluir</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}