{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Test Drive</h2>
    <a href="{% url 'criar_testdrive' %}" class="btn btn-dark">Agendar Test Drive</a>
</div>
<table class="table table-striped">
    <thead>
        <tr> 
            <th>Nome</th>
            <th>Status</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for testdrive in testdrive %}
        <tr>
            <td>{{ testdrive.cliente }}</td>
            <td> 
                {% if testdrive.status == 'pendente' %}
                    <span class="badge bg-warning text-dark">Pendente</span>
                {% elif testdrive.status == 'confirmado' %}
                    <span class="badge bg-primary">Confirmado</span>
                {% elif testdrive.status == 'realizado' %}
                    <span class="badge bg-success">Realizado</span>
                {% else %}
                    <span class="badge bg-danger">Cancelado</span>
                {% endif %}    
            </td>

            <td class="text-end">
                <div>
                    <a href="{% url 'detalhes_testdrive' testdrive.id %}" class="btn btn-sm btn-dark">Detalhes</a>
                    <a href="{% url 'editar_testdrive' testdrive.id %}" class="btn btn-sm btn-dark">Editar</a>
                    <a href="{% url 'deletar_testdrive' testdrive.id %}" class="btn btn-sm btn-dark" onclick="return confirm('Tem certeza que deseja excluir este test drive?')">Excluir</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}